<p>parent works!</p>

<ul>
    <li *ngFor="let fruit of fruits, let i = index">
        {{i+1}} - {{fruit}}
    </li>
</ul>


<div *ngIf="isLoggedIn; else elseBlock">Login Successfull</div>
<ng-template #elseBlock>Login UnSuccessfull</ng-template>


<app-child [name]="userName" [isUserLoggedIn]="isLoggedIn" (updateUsernameEvent)="updateUsernameRequest($event)" 
[iplTeamNameChild]="iplTeamNameParent" (capitaliseEvent)="capitalise($event)">
</app-child>

<h2>{{this.iplTeamNameParent}}</h2>

<h2>{{this.newUsername}}</h2>

<div>
    
</div>