
<div class="container">
    <p>My Second Component</p>
</div>
<!-- 
<div [ngStyle]="{'background-color': 'lightblue', 'color': 'black', 'font-size': '20px'}">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Repudiandae quia est inventore dolorem vel reprehenderit sit eaque atque, 
        dolor doloribus quo suscipit asperiores maxime ut vero. Odit nam architecto id.</p>
</div>

<div [ngClass]="{'isActiveCSS': isActiveStatus, 'isDisabledCSS': isDisabledStatus}">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, repellendus!</p>
</div> -->

<app-company></app-company>